
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-list1 {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-list1 li {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-list1 li.active {
  background-color: #e0f0ff;
  font-weight: bold;
}
