
.News{
    margin:0 auto;
    width:800px;
    height:400px;
    background-color:pink;
    text-align:center;
    align-items:center;
    justify-content:center;
}
input{
    border-radius:9px;
    height:30px;
    width:250px;
}
   
